/* start header style */
body{
    margin: auto;
    padding: 0px ;
}
header{
    background-color: #FDEDEC;
    width: 1920px;
   margin-left: 0px;
   
}
.header-info{
    display: flex;
    align-items: center;
    margin: auto;
    padding: 0px 0px 0px 350px;
    gap: 10px;
}
.btn-primary{
    background: #E55473;
    border: 0;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 20px 35px;
}
.head-title{
    font-size: 70px;
    margin-bottom: 20px;
}

.header-conteint{
    width: 600px;
    height: 700px;
    color: #454545;

}
.head-description{
    width: 500px;
}
/* main section style */
main{
    width: 1440px;
}
.featured-section{
    padding: 0px 30px 0px 500px;
}
.featur-conteint{
    text-align: center;
    width: 500px;
    height: 130px;
  margin:auto ;
}
.heading-descripton{

    color: #454545;
}
.heading-title{
    font-size: 35px;
    margin-bottom: 20px;
}

.flower-item{
    display: flex;
    gap: 0px;
    justify-content: space-around;
}
.flower-name{
    
   
    
    padding: 30px;
}
.item-name-2{
    width: 450px;
    height: 600px;
    background-color: #FDEDEC;
    padding: 30px 30px 0px 20px;
    border-radius: 250px 250px 0px 0px;
    
}
.item-name-1{
    width: 450px;
    height: 600px;
    background-color: #ECFAFD;
    padding: 30px 30px 0px 20px;
    border-radius: 250px 250px 0px 0px;
}
.item-name-3{
    width: 450px;
    height: 600px;
    background-color: #FAECFD;
    padding: 30px 30px 0px 20px;
    border-radius: 250px 250px 0px 0px;
}
.flower-tree{
    text-align: center;
}
/* end main section first pert style */

.delivery-item{
    display: flex;
    background-color: #ededed;
    justify-content: space-around;
    height: 320px;
    align-items: center;
}
.delivery-description{
    text-align: center;
}
.item-image{
    margin-left: 60px;
}
/* section3 style */

.sing-up-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0px 0px 0px;
    background-color: #FDEDEC;
    height: 620px;
    margin-top: 100px;
}
.sinup{
    width: 594px;
    height: 228px;
    text-align: center;
  
    
}
.hot-deal{
    font-size: 30px;
    margin-bottom: 20px;
}
.deal-description{
    width: 400px;
    margin: auto;
    margin-bottom: 20px;
}
.png-8{
    margin-top: -100px;
}
.instagram{
    font-size: 30px;
}
.instagram-tex{
   text-align: center;
   width: 500px;
   height: 132;
   margin: auto;
}
.ins-image{
    width: 300px;
    height: 390px;
   margin: 10px;
}
section-4{
    
}
.last-section{
    background-image: url("../Flower Asset/Rectangle 9");
    background-size: cover;
    background-position: center;
    text-align: center;
}
.latest{
    font-size: 30px;
    font-weight: 700;
}
.email-type{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: 0;
    background: white;
}
footer{
    width: 1920px;
}
.flower-head{
    background-color: black;
    height: 450px;
}
.flower-shop{
    color: white;
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
   
   
}
.shop{
    color: #E55473;
}