/* start header style */
header{
    background-color: #FDEDEC;
}
.header-info{
    display: flex;
    align-items: center;
    padding: 30px 30px 0px 150px;
}
.btn-primary{
    background: #E55473;
    border: 0;
    font-size: 18px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    padding: 20px 35px;
}
.head-title{
    font-size: 60px;
    margin-bottom: 20px;
}
.header-conteint{
    width: 600px;
    color: #454545;
}
.featured-section{
    padding: 100px 30px 0px 30px;
}
.flower{
    width: 635px;
    height: 800px;
}
/* main section style */
.featur-conteint{
    text-align: center;
    width: 500px;
    height: 130px;
  margin:auto ;
}
.heading-title{
    font-size: 35px;
    margin-bottom: 20px;
}
.heading-descripton{

    color: #454545;
    
}
.flower-item{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}
.flower-name{
    
    width: 465px;
    height: 500px;
    padding: 30px;
}
.item-name-2{
    width: 310px;
    height: 400px;
    background-color: #FDEDEC;
    padding: 30px 30px 0px 20px;
    border-radius: 200px 200px 0px 0px;
    
}
.item-name-1{
    width: 310px;
    height: 400px;
    background-color: #ECFAFD;
    padding: 30px 30px 0px 20px;
    border-radius: 200px 200px 0px 0px;
}
.item-name-3{
    width: 310px;
    height: 400px;
    background-color: #FAECFD;
    padding: 30px 30px 0px 20px;
    border-radius: 200px 200px 0px 0px;
}
.flower-tree{
    text-align: center;
}